form {
    width                : 100%;
    height               : auto;
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    /*las columnas son 4*/

    grid-template-rows : 1fr;
    grid-template-areas: "fila1 fila2";
}

.fila1 {
    grid-area      : fila1;
    display        : flex;
    justify-content: center;
    border-right   : 1px solid rgba(0, 0, 0, 0.26);
}

.fila2 {
    grid-area      : fila2;
    display        : flex;
    justify-content: center;
}

/*----------------------*/
.super-contenedor .contenedor .fila1 .login-form {
    width: 76%;
}

.super-contenedor .contenedor .fila2 .register-form {
    width: 76%;
}

/*_--------------------------formulario-------------------------*/
.super-contenedor .contenedor form .fila1 h2 {
    font-family: 'Montserrat Bold', arial;
    font-size  : 15px;
    font-weight: 600;
}

.super-contenedor .contenedor form .fila1 input {
    width        : 100%;
    padding      : 7px;
    border-radius: 5px;
    margin       : 0px 0px 15px 0px;
    border       : 1px solid rgba(0, 0, 0, 0.26);

}

.super-contenedor .contenedor form .fila1 input:focus {
    border : 1px solid #d9a520;
    outline: none;
}

/*------------------------registrarse--------------------------------------*/


.m-t-3 {
    margin-top: 2em;
}

.super-contenedor .contenedor form .fila2 input {
    width        : 100%;
    padding      : 7px;
    border-radius: 5px;
    margin       : 0px 0px 15px 0px;
    border       : 1px solid rgba(0, 0, 0, 0.26);

}

.super-contenedor .contenedor form .fila2 input:focus {
    border : 1px solid #d9a520;
    outline: none;
}

.super-contenedor .contenedor .fila2 .register-form .button button {
    padding         : 15px;
    border-radius   : 5px;
    border          : 1px solid transparent;
    cursor          : pointer;
    width           : 100%;
    height          : 50px;
    font-size       : 15px;
    background-color: #000002;
    color           : #fff;
    margin          : 20px 0px;
    outline         : none;
    transition      : .3s ease all;
    text-transform  : uppercase;
}

.super-contenedor .contenedor .fila2 .register-form .button button:hover {
    background-color: #d9a520;
    color           : #fff;
}

.super-contenedor .contenedor .fila2 .register-form .button button:active {
    transform: translateY(5px);
    outline  : none;
}

.button {
    display        : flex;
    justify-content: center;
    margin         : 5px 0px;
    width          : 100%;
}

/*----------------------aqui finaliza jajja :V-------------------*/