* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*--Estilos del contenedor_central superior--*/

.contenedor-central {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.contenedor-breadcumb {
    width: 100%;
    height: 80px;
    padding: 20px 40px;
}

.contenedor-coctel {
    width: 45%;
}

/* Estilo para el breadcumb */

.bread {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: #888888;
    font-size: 15px;
    font-weight: lighter;
}

.bread a {
    color: #555555;
    transition: .1s ease all;
}

.bread a:hover {
    color: #d9a520;
    text-decoration: none;
}

.bread li:after {
    content: ">";
    display: inline-block;
    margin: 0 5px;
}

.bread li:last-of-type::after {
    display: none;
}

/* Estilo contenedor receta coctel */

.cont-coctel {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 1.5em;
}

.cont-cot-img {
    width: 100%;
    overflow: hidden;
}

.cont-cot-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .6s
}

.text-coctel {
    white-space: pre-line;
}

.text-coctel a {
    font-size: 26px;
    line-height: 1.5;
    width: 100%;
    text-transform: capitalize;
    color: #333333;
    font-weight: 600
}

.text-coctel a:hover {
    text-decoration: none;
    color: #333333;
}


.text-coctel span {
    font-size: .8em;
    line-height: 1.8;
    color: #888888;
}

.text-coctel p {
    margin-top: 1.2em;
    font-size: 1em;
    line-height: 1.8;
    color: #888888;
    white-space: normal;
}

.text-coctel h2 {
    font-size: 1.4em;
    line-height: 1.5;
    width: 100%;
    text-transform: capitalize;
    color: #333333;
    font-weight: 600;
    margin-top: -30px;
}

.text-coctel ol {
    margin-top: -40px;
    font-size: 1em;
    color: #888888;
}

/* Menu lateral derecho */

.right-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 300px;
    height: 100vh;
    right: -100vw;
    transition: .6s ease all;
    display: grid;
    grid-template-columns: minmax(auto, 300px);
    align-content: space-around;
    background-color: #000002;
    justify-content: center;
}

.right-menu-active {
    right: 0;
}

.icon-menu-top {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.icon-menu-right h4 {
    font-size: 14px;
}

.icon-menu-right {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}

.icon-menu-right i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
}

.icon-menu-right a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.icon-menu-right a:hover {
    color: #d9a520;
}

.icon-menu-down {
    display: grid;
    justify-content: center;
}

.icon-behind {
    display: none;
}

/* Tabla Modal pedidos */

.contenedor-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-top table {
    width: 85%;
    text-align: center;
}

.contenedor-top table thead tr th {
    padding: 20px 10px 15px;
    font-size: 15px;
}

.contenedor-top table tbody tr {
    border: 2px solid rgb(230, 230, 230);
}

.contenedor-top table tbody tr td {
    padding: 10px 10px;
}

.contenedor-top table tbody tr td input {
    width: 80px;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(230, 230, 230);
}

/* Footer */

footer {
    width: 100%;
    height: 580px;
    background-color: #000002;
    padding: 30px;
    margin-top: 30px;
}

.contenedor-footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(11, minmax(120px, 150px));
    grid-template-rows: 240px;
    justify-content: center;
    gap: 40px 0;
    grid-auto-flow: row;
    grid-auto-columns: 150px;
}

.sub-cont-footer {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    gap: 40px 0;
    margin-top: 60px;
    justify-items: center;
    align-items: center;
}

/*_------------------------------------*/

.cont-contacto {
    grid-column: 1 / span 5;
}

.cont-contacto h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 10px;
}

.cont-contacto h6 {
    font-size: 15px;
    color: #555555;
}

.cont-contacto a i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
    transition: .3s ease all;
    margin-top: 40px;
}

.cont-contacto a i:hover {
    color: #d9a520;
}

/*_------------------------------------*/

.cont-footer-cat ul li .cat-footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
}

.cont-footer-cat ul li a {
    font-size: 15px;
    color: #555555;
    border: 1px solid transparent;
    padding: 5px 8px;
}

.cont-footer-cat ul li a:hover {
    text-decoration: none;
    color: #d9a520;
    border: 1px solid #d9a520;
}

.cont-footer-cat ul li {
    padding: 10px;
}

/*_------------------------------------*/

.ley {
    /* margin-top     : 9em; */
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}

.ley p {
    color: #555555;
}

.copyright {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: #555555;
    font-size: 14px;
}

/* Responsive */

@media screen and (max-width: 1400px) {
    /* Productos */
    .contenedor {
        width: 100%;
    }
    /* Footer */
    .contenedor-footer {
        grid-template-columns: repeat(auto-fill, minmax(120px, 150px));
        grid-template-rows: 240px;
    }
    .cont-contacto {
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 1260px) {
    /* Cocteles */
    .contenedor-coctel {
        width: 80%;
    }
    /* Footer */
    footer {
        height: auto
    }
    .sub-cont-footer {
        gap: 10px 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    /* Header */
    .header {
        height: auto;
    }
    .header .header-top {
        display: none;
    }
    .menu3 {
        display: none;
    }
    .menu4 {
        display: none;
    }
    /* Texto banner */
    .banner .text-banner .h4 {
        font-size: .8em;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        line-height: 1.8;
        font-weight: lighter;
    }
    .banner .text-banner .h1 {
        font-size: 2em;
    }
    /* Texto coctel */
    .text-coctel a {
        font-size: 20px;
    }
    .text-coctel span {
        font-size: .7em;
    }
    .text-coctel p {
        margin-top: 1em;
        font-size: .9em;
    }
    .text-coctel h2 {
        font-size: 1.2em;
    }
    .text-coctel ol {
        font-size: .9em;
    }
    /* Menu mobile */
    .menuMobile {
        display: flex;
    }
    /* Footer */
    .cont-contacto {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 768px) {
    /* Menu lateral izquierdo */
    .right-menu {
        width: 100vw;
    }
    .contenedor-breadcumb {
        padding: 20px 0px;
    }
    /* Cocteles */
    .contenedor-coctel {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "article"
    }
    /* Menu mobile */
    .menuMobile-logo {
        left: 30px;
    }
    .menuMobile .menuMobile-icons {
        right: 30px;
    }
    /* Footer */
    .sub-cont-footer {
        gap: 10px 0;
        margin-top: 10px;
    }
    .copyright {
        margin-top: .5em;
    }
    /* Modal */
    .contenedor-top table {
        display: block;
        overflow-x: auto;
    }
    .contenedor-top table {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .menuMobile-logo {
        left: 10px;
    }
    .menuMobile .menuMobile-icons {
        right: 10px;
    }
}

@media screen and (max-width: 320px) {}