* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Banners */

.banner {
    width: 100%;
    height: 239px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3em;
}

.text-banner {
    text-align: center;
    color: #fff;
    position: relative;
}

.banner .text-banner .h4 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: lighter;
}

.banner .text-banner .h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

/*_------------------------------------*/

.text-bottom {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-bottom .text-bottom-title h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222222;
    line-height: 1.2;
    text-transform: uppercase;
}

/*_------------------------------------*/

.super-contenedor-coctel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.contenedor-coctel {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-areas: "article aside";
}

.article {
    grid-area: article;
}

.aside {
    grid-area: aside;
    display: flex;
    justify-content: center;
}

.cont-coctel {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 1.5em;
}

.cont-cot-img {
    width: 100%;
    overflow: hidden;
}

.cont-cot-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .6s
}

.cont-cot-img:hover img {
    transform: scale(1.1);
}
    

/*_------------------------------------*/

.text-coctel {
    white-space: pre-line;
}

.text-coctel a {
    font-size: 26px;
    line-height: 1.5;
    width: 100%;
    text-transform: capitalize;
    color: #333333;
    font-weight: 600;
    transition: .2s ease all;
}

.text-coctel a:hover {
    color: goldenrod;
    text-decoration: none;
}

.text-coctel span {
    font-size: .8em;
    line-height: 1.8;
    color: #888888;
}

.text-coctel p {
    margin-top: 1.2em;
    font-size: 1em;
    line-height: 1.8;
    color: #888888;
    white-space: normal;
}

.seguir a {
    font-size: 1em;
    line-height: 1.5;
    width: 100%;
    text-transform: capitalize;
    color: #333333;
    font-weight: 600;
    transition: .2s ease all;
}

.seguir i {
    margin-left: 10px;
}

.seguir a:hover {
    color: goldenrod;
    text-decoration: none;
}

/*_------------------------------------*/

.cont-search {
    width: 90%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.cont-search .icon {
    position: absolute;
    width: 20px;
    top: 25%;
    left: 10px;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: #dbdbe2;
}
.cont-search .icon:hover{
    color: #d9a520;
}


.cont-search input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    color: black;
    outline: none;
    transition: .3s all;
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid #dbdbe2;
    border-radius: 10px;
}
.cont-search input:hover{
    border: 1px solid#d9a520;
}
.cont-search input:focus{
    border: 1px solid#d9a520;
    outline: none;
}

.title-result {
    font-size: 1.5em;
    line-height: 1.5;
    width: 100%;
    color: #888888;
    font-weight: 600;

}

/* Menu lateral derecho */
.right-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 300px;
    height: 100vh;
    right: -100vw;
    transition: .6s ease all;
    display: grid;
    grid-template-columns: minmax(auto, 300px);
    align-content: space-around;
    background-color: #000002;
    justify-content: center;
}
.right-menu-active {
    right: 0;
}

.icon-menu-top {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.icon-menu-right h4 {
    font-size: 14px;
}

.icon-menu-right {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}

.icon-menu-right i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
}

.icon-menu-right a {
   color: #fff;
   text-decoration: none;
   cursor: pointer;
}
.icon-menu-right a:hover {
    color: #d9a520;
}

.icon-menu-down {
    display: grid;
    justify-content: center;
}

.icon-behind {
    display: none;
}


/* Tabla Modal pedidos */

.contenedor-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-top table {
    width: 85%;
    text-align: center;
}

.contenedor-top table thead tr th {
    padding: 20px 10px 15px;
    font-size: 15px;
}

.contenedor-top table tbody tr {
    border: 2px solid rgb(230, 230, 230);
}

.contenedor-top table tbody tr td {
    padding: 10px 10px;
}

.contenedor-top table tbody tr td input {
    width: 80px;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(230, 230, 230);
}
/* Footer */

footer {
    width: 100%;
    height: 580px;
    background-color: #000002;
    padding: 30px;
    margin-top: 30px;
}

.contenedor-footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(11, minmax(120px, 150px));
    grid-template-rows: 240px;
    justify-content: center;
    gap: 40px 0;
    grid-auto-flow: row;
    grid-auto-columns: 150px;
}

.sub-cont-footer {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    gap: 40px 0;
    margin-top: 60px;
    justify-items: center;
    align-items: center;
}

/*_------------------------------------*/

.cont-contacto {
    grid-column: 1 / span 5;
}

.cont-contacto h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 10px;
}

.cont-contacto h6 {
    font-size: 15px;
    color: #555555;
}

.cont-contacto a i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
    transition: .3s ease all;
    margin-top: 40px;
}

.cont-contacto a i:hover {
    color: #d9a520;
}

/*_------------------------------------*/

.cont-footer-cat ul li .cat-footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
}

.cont-footer-cat ul li a {
    font-size: 15px;
    color: #555555;
    border: 1px solid transparent;
    padding: 5px 8px;
}

.cont-footer-cat ul li a:hover {
    text-decoration: none;
    color: #d9a520;
    border: 1px solid #d9a520;
}

.cont-footer-cat ul li {
    padding: 10px;
}

/*_------------------------------------*/

.ley {
    /* margin-top     : 9em; */
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}

.ley p {
    color: #555555;
}

.copyright {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: #555555;
    font-size: 14px;
}

/* Responsive */

@media screen and (max-width: 1400px) {
    /* Productos */
    .contenedor {
        width: 100%;
    }
    /* Footer */
    .contenedor-footer {
        grid-template-columns: repeat(auto-fill, minmax(120px, 150px));
        grid-template-rows: 240px;
    }
    .cont-contacto {
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 1260px) {
    /* Cocteles */
    .contenedor-coctel {
        width: 80%;
    }
    /* Footer */
    footer {
        height: auto
    }
    .sub-cont-footer {
        gap: 10px 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    /* Header */
    .header {
        height: auto;
    }
    .header .header-top {
        display: none;
    }
    .menu3 {
        display: none;
    }
    .menu4 {
        display: none;
    }
    /* Texto banner */
    .banner .text-banner .h4 {
        font-size: .8em;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        line-height: 1.8;
        font-weight: lighter;
    }
    .banner .text-banner .h1 {
        font-size: 2em;
    }
    /* Texto coctel */
    .text-coctel a {
        font-size: 20px;
    }
    .text-coctel span {
        font-size: .6em;
    }
    .text-coctel p {
        margin-top: 1em;
        font-size: .8em;
    }
    .seguir a {
        font-size: 1em;
    }
    /* Menu mobile */
    .menuMobile {
        display: flex;
    }
    /* Footer */
    .cont-contacto {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 768px) {
    /* Menu lateral derecho */
    .right-menu {
        width: 100vw;
    }
    /* Cocteles */
    .contenedor-coctel {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "article" "aside";
    }
    /* Menu mobile */
    .menuMobile-logo {
        left: 30px;
    }
    .menuMobile .menuMobile-icons {
        right: 30px;
    }
    /* Footer */
    .sub-cont-footer {
        gap: 10px 0;
        margin-top: 10px;
    }
    .copyright {
        margin-top: .5em;
    }
    /* Modal */
    .contenedor-top table {
        display: block;
        overflow-x: auto;
    }
    .contenedor-top table {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .menuMobile-logo {
        left: 10px;
    }
    .menuMobile .menuMobile-icons {
        right: 10px;
    }
}

@media screen and (max-width: 320px) {}