* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.header .header-top {
    width: 100%;
    height: 40px;
    background-color: #000002;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-top .header-redes-sociales {
    display: flex;
    position: absolute;
    left: 52px;
    top: 20%;
    transform: translateY(-50%);
    transition: .3s ease all;
}

.header .header-top .header-redes-sociales a i {
    font-size: 20px;
    color: #888888;
    padding: 5px 10px;
}

.header .header-top .header-redes-sociales a i:hover {
    color: #daa520;
}

.header .header-top .header-icons {
    display: flex;
    position: absolute;
    right: 52px;
    top: 30%;
    transform: translateY(-50%);
    transition: .3s ease all;
}

.header .header-top .header-icons a i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
}

.header .header-top .header-icons a i:hover {
    color: #d9a520;
}

.header .header-top h6 {
    font-size: 12px;
    color: #888888;
    letter-spacing: 1.5px;
}


/*----------------Menú-----------------*/

.menu3 {
    width: 100%;
    height: 60px;
    background-color: #000002;
    display: flex;
    z-index: 4000;
    align-items: center;
    justify-content: center;
    transition: .20s ease all;
}

.menu-oculto2 {
    display: none;
}

.menu3 .contenedor-enlaces-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu3-logo {
    display: flex;
    position: absolute;
    left: 52px;
    top: 70%;
    transform: translateY(-50%);
}

.menu3 .menu3-icons {
    display: flex;
    position: absolute;
    right: 52px;
    top: 70%;
    transform: translateY(-50%);
    transition: .3s ease all;
}

.menu3 .menu3-bar {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.menu3 .menu3-icons a i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
}

.menu3 .menu3-icons a i:hover {
    color: #d9a520;
}


/*----------------Menú pegajoso-----------------*/

.menu4 {
    width: 100%;
    height: 70px;
    background-color: #000002;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}

.menu-fixed {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.menu4 .contenedor-enlaces-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu4-logo {
    display: flex;
    position: absolute;
    left: 52px;
    top: 50%;
    transform: translateY(-50%);
}

.menu4 .menu4-icons {
    display: flex;
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease all;
}

.menu4 .menu4-bar {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.menu4 .menu4-icons a i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
}

.menu4 .menu4-icons a i:hover {
    color: #d9a520;
}


/*_--------------------------------------*/

.dropbtn {
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 600;
    transition: .5s ease all;
}

.dropbtn:hover {
    border: 1px solid goldenrod;
    border-radius: 2px;
    text-decoration: none;
    color: goldenrod;
}

.enlaces-icon {
    padding-left: 6px;
}


/*_-------------------------*/

.nav-sub {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.288);
    width: 500px;
    height: 300px;
    cursor: pointer;
    margin-top: 12px;
    z-index: 1;
}

.contenedor-enlaces-nav li:hover>.nav-sub {
    display: block;
}

.nav-text {
    text-transform: uppercase;
    font-weight: bold;
}

.nav-sub li {
    padding: 10px 20px;
    width: 170px;
}

.nav-sub li a {
    font-size: 13px;
    color: #000002;
    display: block;
}

.nav-sub li a:hover {
    color: goldenrod;
    font-weight: bold;
    transform: translateX(15px);
    text-decoration: none;
}

.nav-sub img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 300px;
    width: 330px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.288);
}

/*----------------Menu mobile-----------------*/

.menuMobile {
    width: 100%;
    height: 86px;
    background-color: #000002;
    justify-content: center;
    align-items: center;
    display: none;
    position: relative;
}


.contenedor-enlaces-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuMobile-logo {
    display: flex;
    position: absolute;
    left: 52px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease all;
}

.menuMobile .menuMobile-icons {
    display: flex;
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease all;
}

.menuMobile .menuMobile-icons a i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
}

.menuMobile .menuMobile-icons a i:hover {
    color: #d9a520;
}

/* Menu */

.contenedor-menu {
    width: 100%;
    display: none;
    line-height: 18px;
    background: #d9a520;
}

.contenedor-menu-active {
    display: block;
}

.menuMobileWrapper {
    width: 100%;
}

.contenedor-menu ul {
    list-style: none;
    display: none;
}

.menuMobileWrapper  li a {
    color: #fff;
    display: block;
    padding: 15px 20px;
    background: #d9a520;
}

.menuMobileWrapper  li a:hover {
    background-color: #d9a520;
    color: #fff;
    text-decoration: none;
}

.menuMobileWrapper .cont-icons-right {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
}

.menuMobileWrapper ul {
    display: none;
}

.menuMobileWrapper   ul li a {
    background-color: #fff;
    color: #888888;
    font-weight: lighter;
}

.menuMobileWrapper .activado>a {
    background-color: #a3790e;
    color: #fff;
   
}

.sub-opciones {
    padding-left: 10px;
}



/*-----------banners---------------------------*/

.banner {
    width: 100%;
    height: 239px;
    background-repeat: no-repeat;
    background-image: url(../imagenes/Image_Title_Page/Wallpaper_Cócteles.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3em;

}

.text-banner {
    text-align: center;
    color: #fff;
    position: relative;
}

.banner .text-banner .h4 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: lighter;
}

.banner .text-banner .h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}


/*------------------------------------*/

.text-bottom {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-bottom .text-bottom-title h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222222;
    line-height: 1.2;
    text-transform: uppercase;
}


/*------------------------------------*/

.super-contenedor-coctel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.contenedor-coctel {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-areas: "article aside";
}

.article {
    grid-area: article;
}

.aside {
    grid-area: aside;
    display: flex;
    justify-content: center;
}


.cont-coctel {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 1.5em;
}

.cont-cot-img{
    width: 100%;
    overflow: hidden;
}

.cont-cot-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .6s
}

.cont-cot-img:hover img {
    transform: scale(1.1);
}

.paginas {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paginas a {
    border: 2px solid  rgb(230, 230, 230);
    text-decoration: none;
    border-radius: 100%;
    padding: 9px 15px;
    font-weight: 600;
    font-size: 12px;
    color: rgb(230, 230, 230);
    font-family: segoe UI;
    transition: 1s ease all;
    margin: 10px;
}

.paginas a:hover {
    border: 2px solid  goldenrod;
    background-color: goldenrod;
    color: #fff;
    text-decoration: none;
}

.active {
    background-color: goldenrod;
    color: #fff;
}


/*----------------------------------------*/

.text-coctel {
    white-space: pre-line;
}

.text-coctel a {
    font-size: 26px;
    line-height: 1.5;
    width: 100%;
    text-transform: capitalize;
    color: #333333;
    font-weight: 600;
    transition: .2s ease all;
}

.text-coctel a:hover {
    color: goldenrod;
    text-decoration: none;
}

.text-coctel span {
    font-size: .8em;
    line-height: 1.8;
    color: #888888;
}

.text-coctel p {
    margin-top: 1.2em;
    font-size: 1em;
    line-height: 1.8;
    color: #888888;
    white-space: normal;
}

.seguir a {
    font-size: 1em;
    line-height: 1.5;
    width: 100%;
    text-transform: capitalize;
    color: #333333;
    font-weight: 600;
    transition: .2s ease all;
    
}

.seguir i {
    margin-left: 10px;
}


.seguir  a:hover {
    color: goldenrod;
    text-decoration: none;
}

/*_------------------------------------*/

.cont-search {
    width: 90%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.cont-search .icon {
    position: absolute;
    width: 20px;
    top: 25%;
    left: 10px;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: #dbdbe2;
}

.cont-search input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    color: black;
    outline: none;
    transition: .3s all;
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid #dbdbe2;
    border-radius: 10px;
}


/*-----------footer------------------*/

footer {
    width: 100%;
    height: 580px;
    background-color: #000002;
    padding: 30px;
    margin-top: 30px;
}

.contenedor-footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(11, minmax(120px, 150px));
    grid-template-rows: 240px;
    justify-content: center;
    gap: 40px 0;
    grid-auto-flow: row;
    grid-auto-columns: 150px;
}

.sub-cont-footer {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    gap: 40px 0;
    margin-top: 60px;
    justify-items: center;
    align-items: center;
}

/*_------------------------------------*/

.cont-contacto {
    grid-column: 1 / span 5;
}

.cont-contacto h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 10px;
}

.cont-contacto h6 {
    font-size: 15px;
    color: #555555;
}

.cont-contacto a i {
    font-size: 22px;
    color: #888888;
    padding: 5px 10px;
    transition: .3s ease all;
    margin-top: 40px;
}

.cont-contacto a i:hover {
    color: #d9a520;
}

/*_--------------------------*/


.cont-footer-cat ul li .cat-footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
}

.cont-footer-cat ul li a {
    font-size: 15px;
    color: #555555;
    border: 1px solid transparent;
    padding: 5px 8px;
}

.cont-footer-cat ul li a:hover {
    text-decoration: none;
    color: #d9a520;
    border: 1px solid #d9a520;
}

.cont-footer-cat ul li {
    padding: 10px;
}

/*---------------------------------------*/

.ley {
    /* margin-top     : 9em; */
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}

.ley p {
    color: #555555;
}

.copyright {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: #555555;
    font-size: 14px;
}


/* Responsive */

@media screen and (max-width: 1400px) {
    /* Productos */
    .contenedor {
        width: 100%;
    }
    /* Footer */
    .contenedor-footer {
        grid-template-columns: repeat(auto-fill, minmax(120px, 150px));
        grid-template-rows: 240px;
    }
    .cont-contacto {
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 1260px) {
    /* Cocteles */
    .contenedor-coctel {
        width: 80%;
    }

    /* Footer */
    footer {
        height: auto
    }
    .sub-cont-footer {
        gap: 10px 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    /* Header */
    .header {
        height: auto;
    }
    .header .header-top {
        display: none;
    }
    .menu3 {
        display: none;
    }
    .menu4 {
        display: none;
    }
    /* Texto banner */
    .banner .text-banner .h4 {
        font-size: .8em;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        line-height: 1.8;
        font-weight: lighter;
    }
    
    .banner .text-banner .h1 {
        font-size: 2em;
    }

    /* Texto coctel */
    .text-coctel a {
        font-size: 20px;
    }
    .text-coctel span {
        font-size: .6em;
    }
    .text-coctel p {
        margin-top: 1em;
        font-size: .8em;
    }
    .seguir a {
        font-size: 1em;
    }

    /* Menu mobile */
    .menuMobile {
        display: flex;
    }

    /* Footer */
    .cont-contacto {
        grid-column: 1 / span 2;
    }



}

@media screen and (max-width: 768px) {

    /* Cocteles */
    
    .contenedor-coctel {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "article"
                              "aside";
    }


    /* Menu mobile */
    .menuMobile-logo {
        left: 30px;
    }
    
    .menuMobile .menuMobile-icons {
        right: 30px;
    }
    

    /* Footer */
    .sub-cont-footer {
        gap: 10px 0;
        margin-top: 10px;
    }
    .copyright {
        margin-top: .5em;
    }
}

@media screen and (max-width: 480px) {
    .menuMobile-logo {
        left: 10px;
    }
    
    .menuMobile .menuMobile-icons {
        right: 10px;
    }
    
}

@media screen and (max-width: 320px) {}