* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Banners */

.banner {
    width: 100%;
    height: 239px;
    background-repeat: no-repeat;
    background-image: url(../imagenes/Image_Title_Page/Wallpaper_Vino1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3em;
}

.text-banner {
    text-align: center;
    color: #fff;
    position: relative;
}

.banner .text-banner .h4 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: lighter;
}

.banner .text-banner .h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

/*_------------------------------------*/

.super-contenedor {
    width: 91%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

/*_------------------------------------*/

.contenedor {
    width: 100%;
    height: 500px;
}

form {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*las columnas son 4*/
    grid-template-rows: 1fr;
    grid-template-areas: "fila1 fila2";
}

.fila1 {
    grid-area: fila1;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
}

.fila2 {
    grid-area: fila2;
    display: flex;
    justify-content: center;
}

/*_------------------------------------*/

.super-contenedor .contenedor .fila1 .login-form {
    width: 76%;
}

.super-contenedor .contenedor .fila2 .register-form {
    width: 76%;
}

/* Formulario */

.super-contenedor .contenedor form .fila1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
}

.super-contenedor .contenedor form .fila1 input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 0px 15px 0px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.super-contenedor .contenedor form .fila1 input:focus {
    border: 1px solid #d9a520;
    outline: none;
}

/* Registro */

.super-contenedor .contenedor form .fila2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
}

.m-t-3 {
    margin-top: 4.5em;
}

.super-contenedor .contenedor form .fila2 input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 0px 15px 0px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.super-contenedor .contenedor form .fila2 input:focus {
    border: 1px solid #d9a520;
    outline: none;
}

.super-contenedor .contenedor .fila2 .register-form .button button {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 15px;
    background-color: #000002;
    color: #fff;
    margin: 20px 0px;
    outline: none;
    transition: .3s ease all;
    text-transform: uppercase;
}

.super-contenedor .contenedor .fila2 .register-form .button button:hover {
    background-color: #d9a520;
    color: #fff;
}

.super-contenedor .contenedor .fila2 .register-form .button button:active {
    transform: translateY(5px);
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    width: 100%;
}

/* Responsive */

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1260px) {}

@media screen and (max-width: 1024px) {
    /* Texto banner */
    .banner .text-banner .h4 {
        font-size: .8em;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        line-height: 1.8;
        font-weight: lighter;
    }
    .banner .text-banner .h1 {
        font-size: 2em;
    }
    .super-contenedor {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contenedor {
        height: auto;
    }
    form {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "fila1" "fila2";
    }
    .super-contenedor .contenedor form .fila1 h2 {
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .m-t-3 {
        margin-top: 0px;
    }
    .button {
        margin: .1em 0px;
    }
    .banner {
        margin-bottom: 1em;
    }
    .super-contenedor .contenedor .fila2 p {
        white-space: pre-line;
        word-spacing: 1px;
        font-size: .8em;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}