.contenedor_formulario {
    display: flex;
    justify-content: center;
    
}

.formulario_2 hr {
    margin-top: 45px;
    margin-bottom: 15px;
}

.formulario_2 {
    width: 80%;
}

.formulario_2 form input {
    width: 100%;
    padding: 8px;
    margin: 14px 0px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.formulario_2 form input:focus{
    border: 1px solid #800000;
    outline:none;
}

.formulario_2 button{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    width: 280px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: #000002;
    color: #fff;
    margin: 20px 0px;
    outline:none;
}

.formulario_2 button:active{
    transform: translateY(5px);
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px;
}


