*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 100%;
    padding: 5px;
}

.tabla_clientes{
    display: flex;
    width: 100%;

}

.tabla_clientes table thead tr th{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
    color: #800000;
}
.tabla_clientes table tbody tr td{
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
    text-align: center;
    margin-bottom: 20px;
    
}
.tabla_clientes table tbody tr td select{
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.068);
    background: #ffffff;
    outline:none;
}
.tabla_clientes table tbody tr td select .pendiente{
    background-color: orange;
    color: #ffffff;
    font-weight: bold;
    transition: .3s ease all;
}
.tabla_clientes table tbody tr td select .por-completar{
    background-color: green;
    color: #ffffff;
    font-weight: bold;
    transition: .3s ease all;
}
.tabla_clientes table tbody tr td select .cancelado{
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    transition: .3s ease all;
}
.direccion{
    font-size: 14px;
}